<script src="{{ '/assets/js/transition.js' | relative_url }}"></script>

<header>
    <h1>Eliott Barker</h1>
    <nav>
        <ul>
            {% if page.url == "/" %}
                <li onclick="transitionToPage('/')" class="active">Accueil</li>
            {% else %}
                <li onclick="transitionToPage('/')">Accueil</li>
            {% endif %}

            {% if page.url == "/experiences/" %}
                <li onclick="transitionToPage('/experiences')" class="active">Experiences</li>
            {% else %}
                <li onclick="transitionToPage('/experiences')">Experiences</li>
            {% endif %}

            {% if page.url == "/formations/" %}
                <li onclick="transitionToPage('/formations')" class="active">Formations</li>
            {% else %}
                <li onclick="transitionToPage('/formations')">Formations</li>
            {% endif %}

            {% if page.url == "/projets/" %}
                <li onclick="transitionToPage('/projets')" class="active">Projets</li>
            {% else %}
                <li onclick="transitionToPage('/projets')">Projets</li>
            {% endif %}
            
            <li>Télécharger mon CV</li>
        </ul>
    </nav>
</header>