$backgroundColor: #272727;
$bodyColor: snow;
$bodyFont: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";

html {
    background: $backgroundColor;
    color: $bodyColor;

    body {
        font-family: $bodyFont;
    }
}
