---
---

@import "base";

body {
    text-align: center;

    .content {
        display: flex;
        flex-direction: column;
        width: 60%;
        margin: 0 auto;
        align-items: center;
        justify-content: center;

        .center-img {
            width: 100%;
            max-width: 300px;
            margin-bottom: 20px;
        }

        .no-wrap {
            white-space: nowrap;
        }
    }
}
