<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8">
        <title>{{ site.title }}</title>
        <link rel="stylesheet" href="{{ "/assets/css/home.css" | relative_url }}">
    </head>
    <body>
        <div class="content">
            {{ content }}
        </div>

        <footer>
            <div class="footer-content">
                <p>&copy; 2025 Eliott BARKER. Tous droits réservés.</p>
                <div class="social-links">
                    <a href="https://github.com/Eliott-B" target="_blank">GitHub</a> |
                    <a href="https://linkedin.com/in/e-barker" target="_blank">LinkedIn</a> |
                    <a href="mailto:contact@eliott-b.fr">contact@eliott-b.fr</a>
                </div>
            </div>
        </footer>
    </body>
</html>
